<template>
  <div class="card">
    <v-card>
      <v-card-title> {{ test.title }} </v-card-title>
        <v-card-text>
          <div>Status: {{ test.status }}</div> 
        </v-card-text> 
        <v-card-actions>
          <v-container>
            <v-layout
              justify-space-around
              row
              wrap>
              <v-flex
                xs12
                md12
                text-xs-center
                class="pa-1">
                <v-card 
                  dark 
                  color="success">
                  <v-card-text ><v-icon>book</v-icon> Resultados</v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-actions>
    </v-card>
  </div>
</template>


<script>
export default {
  name: 'card',
  props: {test: Object},
  data() {
    return {

    }
  }
}
</script>
