<template>
<div class="app">
  <Card :test="test"/>
</div>  
</template>
<script>
import Card from '~/components/Card.vue'
export default {
  name: 'app',
  components: {
    Card
  },
  data() {
    return {
      test: {title: 'Avaliação Objetiva 1 Periodo', status: 'Cartões Recebidos', students: 200}

    }
  }
  
}
</script>

